@charset "UTF-8";
* {
	outline:none;
}
@font-face {
 font-family: 'MuseoSlab500';
 src: url('fonts/museo_slab_500-webfont.eot');
 src: local('â˜º'), url('fonts/museo_slab_500-webfont.woff') format('woff'), url('fonts/museo_slab_500-webfont.ttf') format('truetype'), url('fonts/museo_slab_500-webfont.svg#webfontybXF2nAc') format('svg');
 font-weight: normal;
 font-style: normal;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color:#706631;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(../images/bg.png);
	text-align: center;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}
#container {
	position: relative;
	text-align: left;
	height: 100%;
	margin: 0 auto;
	width:1600px;
	padding: 0 10px;
	background-image:url(../images/container_bg.png);
}
#container.record {
	background-image:url(../images/record_bg.png);
}
#footer, .push {
	clear: both;
}
#footer {
	color:#999;
	font-size: 10px;
	bottom: 0px;
	background-color:#4b4b4b;
	text-align:justify;
	position: absolute;
	width: 1570px;
	padding: 10px 15px;
}
#footer p {
	padding: 0;
	margin: 0
}
#header {
	height: 70px;
	background: url(../images/bg_header.png) top left repeat-x;
}
#header ul {
	float: left;
}
#header ul li {
	float: left;
}
#logo {
	background: url(../images/bg_logo.png) center center repeat-x;
	height: 70px;
	width: 350px;
	float: left;
}
#logo a {
	background: url(../images/logo.png) center center no-repeat;
	height: 70px;
	width: 350px;
	display: block;
	text-decoration: none;
}
.sidebar {
	width: 350px;
	float: left;
	background-color: #dedcbe;
}
#cluster {
	float: left;
	margin: 0 20px;
}
.col {
	float: left;
	width: 420px;
}
.col2 {
	margin-left: 20px;
}
.smart {
	margin: 0 20px;
}
#cluster .smart {
	margin: 0px;
}
a.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-moz-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-webkit-text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-moz-text-shadow:0px 2px 3px rgba(f, f, f, .9);
	text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	font-family: 'MuseoSlab500', sans-serif;
	font-size: 18px;
	padding: 7px 15px;
	margin: 10px 0px 0px 5px;
	color: #fff;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
a.button:hover {
	text-decoration: none;
	color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
	position: relative;
	top: 2px;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
a.button:active {
	position: relative;
	top: 2px;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
a.wizard {
	font-size: 13px;
	margin: 5px 0 0 5px;
	padding: 3px 10px;
	color: #fff;
	float: right;
}
.disabled {
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
}
a.disabled:hover {
	top: 0px;
}
.sidebar a.wizard {
	margin: 0px 0 0 5px;
	padding: 3px 10px;
	color: #fff;
}
.field {
	border-bottom: solid 1px #ccc;
	margin: 0;
	padding: 5px 10px;
}
.sidebar .field {
	font-size: 12px;
	line-height: 16px;
	border-top: solid 1px #a19968;
	border-bottom: none;
	margin: 0;
}
.sidebar .tab {
	background: none;
	border-bottom: solid 1px #a19968;
	width: 100%;
	margin: 0px;
}
.sidebar .tab li:first-child {
	margin-left: 10px;
}
.sidebar .tab a {
	background: none;
}
.field:hover, .edited {
	background-color:#FFC;
}
.edited input {
	background-color:#FFC;
	border-color: #FFc;
}
.read_only:hover {
	background: none;
}
.focus, .focus:hover, .error, .error:hover {
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	border-bottom: solid 1px #fff;
}
.error p {
	background:url(../images/warning.png) 3px left no-repeat;
	font-size: 11px;
	padding: 5px 0 5px 45px;
	min-height: 30px;
	margin: 0;
	color: #333;
}
.field label {
	width: 140px;
	display: inline-block;
	vertical-align: top;
	margin:7px 0;
	font-weight: bold;
}
.read_only span, .autocomplete span {
	vertical-align: top;
	margin-top:7px;
	display: inline-block;
}
.sidebar h2 {
	width: 200px;
	float: left;
}
.read_only {
	font-style:italic;
}
.sidebar .field label {
	width: 100px;
	padding-left: 0px;
	margin-top: 0;
}
.field input, .field select, .field .read-only, .field textarea {
	border-color:#fff;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	width: 240px;
	border: solid 1px #fff;
}
.sidebar .field input, .sidebar .field select, .sidebar .field .read-only, .sidebar .field textarea {
	border-color:#dedcbf;
	background-color: #dedcbf;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	width: 205px;
}
.field textarea {
	height: 60px;
	margin-bottom: 0px;
}
.field:hover input, .field:hover select, .field:hover textarea {
	border: solid 1px #ccc;
	background-color:#FFF;
}
h1, h2, h3, .notification {
	font-family: 'MuseoSlab500', sans-serif;
	padding: 0;
	margin: 10px 0;
	font-weight:normal;
}
.notification {
	padding-right: 10px;
}
ul.tab {
	list-style: none;
	margin: 30px 0px;
	padding: 4px 0;
	border-bottom: solid 1px #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -moz-linear-gradient(top, #ffffff, #eeeeee);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
}
ul.tab li {
	display: inline;
}
ul.tab a {
	padding: 5px 7px;
	color: #999;
	font-size: 15px;
	text-decoration: none;
	font-family: 'MuseoSlab500', sans-serif;
}
ul.tab a:hover {
	background-color: #f6f6f6;
	color: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
	background: -moz-linear-gradient(top, #eeeeee, #ffffff);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
}
ul.tab a.selected {
	background: none;
	background-color: #fff;
	color: #000;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	-webkit-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-moz-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-webkit-text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-moz-text-shadow:0px 2px 3px rgba(f, f, f, .9);
	text-shadow: 0px 2px 3px rgba(f, f, f, .9);
}
.hiden {
	display: none;
}
.focus input {
	border: solid 1px #ccc;
}
.focus label, .error label {
	color: #fff;
	-webkit-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-moz-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-webkit-text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-moz-text-shadow:0px 2px 3px rgba(f, f, f, .9);
	text-shadow: 0px 2px 3px rgba(f, f, f, .9);
}
.sidebar h1, .sidebar h2 {
	margin-left: 10px;
	margin-right: 10px;
}
.edited textarea, .sidebar .edited textarea, .sidebar .edited input {
	background-color:#FFC;
	border-color: #FFc;
}
ul.nav {
	list-style-type: none;
	padding: 0px;
	margin-top: 15px;
	margin-left: 10px;
	height: 55px;
}
ul.nav li {
	margin: 0;
	padding: 0;
	height: 55px;
}
ul.nav a {
	font-family: 'MuseoSlab500', sans-serif;
	text-decoration: none;
	font-weight:normal;
	font-size:20px;
	padding: 18px 12px 5px 12px;
	display: block;
	filter:alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity:0.3;
	color: #000;
}
a {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
ul.nav a:hover, .collections ul.nav1 li.item1 a, .sets ul.nav1 li.item2 a, .cmpt ul.nav1 li.item3 a, .publishers ul.nav2 li.item1 a, .contracts ul.nav2 li.item2 a, .orders ul.nav3 li.item1 a, .shipments ul.nav3 li.item2 a {
	filter:alpha(opacity=100);
	opacity: 1;
	-moz-opacity:1;
	-webkit-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-moz-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-webkit-text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-moz-text-shadow:0px 2px 3px rgba(f, f, f, .9);
	text-shadow: 0px 2px 3px rgba(f, f, f, .9);
}
ul.nav1 {
	background: url(../images/bg_nav1.png) top right no-repeat;
	padding-right: 10px;
	margin-left: 20px;
}
ul.nav2 {
	background: url(../images/bg_nav2.png) top right no-repeat;
	padding-right: 5px;
}
ul.nav3 {
	background: url(../images/bg_nav2.png) top right no-repeat;
	padding-right: 5px;
}
ul.nav4 {
	background: url(../images/bg_nav2.png) top right repeat-x;
	padding-right: 0px;
}
ul.nav .item1 {
	background: url(../images/bg_item1.png) top left repeat-x;
}
ul.nav .item2 {
	background: url(../images/bg_item2.png) top left repeat-x;
}
ul.nav .item3 {
	background: url(../images/bg_item3.png) top left repeat-x;
}
ul.nav .item2 a {
	padding-top: 20px;
}
ul.nav .item3 a {
	padding-top: 22px;
}
div#functions {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	text-align: right;
	width: 860px;
}
.collections ul.nav1 {
	background: url(../images/bg_nav1_item1_sel.png) top right no-repeat;
}
.collections ul.nav1 .item1, .publishers ul.nav2 .item1, .orders ul.nav3 .item1 {
	background: url(../images/bg_item1_sel.png);
}
.collections ul.nav1 .item2 {
	background: url(../images/bg_item2_item1_sel.png);
}
.collections ul.nav1 .item3 {
	background: url(../images/bg_item3_item1_sel.png);
}
.sets ul.nav1 {
	background: url(../images/bg_nav1_item2_sel.png) top right no-repeat;
}
.sets ul.nav1 .item2, .contracts ul.nav2 .item2, .shipments ul.nav3 .item2 {
	background: url(../images/bg_item2_sel.png);
}
.sets ul.nav1 .item3 {
	background: url(../images/bg_item3_item2_sel.png);
}
.cmpt ul.nav1 .item3 {
	background: url(../images/bg_item3_sel.png);
}
.publishers ul.nav2, .orders ul.nav3 {
	background: url(../images/bg_nav2_sel.png) top right no-repeat;
}
.publishers ul.nav2 .item2, .orders ul.nav3 .item2 {
	background: url(../images/bg_item2_item1_sel.png);
}
.smart table {
	font-size: 12px;
}
.smart tr:nth-child(even) {
 background-color: #e9e6d2;
}
.smart tr:nth-child(odd) {
 background-color: #ffffff;
}
.smart tr:nth-child(even):hover {
 background-color: #dedcc0;
}
.smart tr:nth-child(odd):hover {
 background-color: #f4f2e7;
}
.smart tbody tr:hover {
	text-decoration: underline;
}
.smart tr:hover a.wizard {
	text-decoration: none;
}
.smart tr {
	vertical-align: top;
}
.smart .wizard, .smart .button {
	margin: 0;
}
.smart th {
	color: #fff;
	font-size:12px;
	line-height: 12px;
	-webkit-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-moz-text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	text-shadow: 0px -2px 3px rgba(0, 0, 0, .3);
	-webkit-text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	-moz-text-shadow:0px 2px 3px rgba(f, f, f, .9);
	text-shadow: 0px 2px 3px rgba(f, f, f, .9);
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
#modal h3 {
	padding-top: 15px;
}
.smart td, .smart th {
	padding: 5px;
	max-width: 250px;
	vertical-align: middle;
}
.smart th {
	border-right: 1px solid #f90;
}
.smart thead input {
	background: none;
	border: solid 1px #F90;
	padding: 3px 1px;
}
.smart tr td:last-child {
	background: url(../images/bg_tr_smart.png) center right no-repeat;
	padding-right: 25px;
}
.smart tr:hover td:last-child {
	background: url(../images/bg_tr_smart_hover.png) center right no-repeat;
}
.smart thead tr:hover input {
	border: solid 1px #ccc;
	background: #fff;
}
.loading {
	width: 100%;
	height: 40px;
	text-align:center;
}
.smart tr.loading td:last-child {
	background: none;
}
.loading .button {
	font-size: 13px;
	padding: 6px 10px;
	color: #fff;
	width: 300px;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	float: none;
}
.button.test {
	font-size: 11px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 7px 10px;
}
#cluster .smart {
	margin: 15px 0; padding-bottom: 10px; border-bottom: solid 1px #ccc;}
#cluster .smart td {
	font-size: 11px;}

#cluster .smart td, #cluster .smart th {
	padding: 3px;
	max-width: 200px;
}